.card-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: -1px 0px 12px 4px rgba(200, 200, 200, 0.59);
  -webkit-box-shadow: -1px 0px 12px 4px rgba(200, 200, 200, 0.59);
  -moz-box-shadow: -1px 0px 12px 4px rgba(200, 200, 200, 0.59);
}
.card-container.list {
  display: flex;
  align-items: center;
}
.card-container .img-section {
  height: 401px;
  width: 100%;
}
.card-container.list .img-section {
  height: unset;
  max-width: 27%;
  align-self: stretch;
}
.card-container .detail-section {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.card-container.list .detail-section {
  padding: 2rem;
  flex-direction: column;
  width: 73%;
  justify-content: unset;
}
.card-container.list .socials {
  margin-top: 0.3rem;
}
.list-show {
  display: block;
}
.list-hide {
  display: none;
}

.detail-section p {
  font-family: "Roboto", sans-serif;
}

.socials a {
  font-size: 1.2rem;
}
.card-container .employee-name {
  font-size: 1.2rem;
}
.card-container.list .employee-name {
  font-size: 1.5rem;
}
@media (max-width: 1023px) {
  .card-container.list {
    flex-direction: column;
  }
  .card-container.list .img-section {
    align-self: center;
    height: 401px;
  }
  .card-container.list .detail-section {
    width: 100%;
  }
}
@media (max-width: 1023px) and (min-width: 600px) {
  .card-container.list .img-section {
    max-width: 50%;
  }
}
@media (max-width: 599px) {
  .card-container.list .img-section {
    max-width: 95%;
  }
  .card-container.list .detail-section {
    padding: 1.5rem 1rem;
  }
  .card-container .detail-section {
    padding: 1rem;
  }
}
