* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.mt-1 {
  margin-top: 1rem;
}
.p-1 {
  padding: 1rem;
}
.p-point-5 {
  padding: 1.5rem;
}
.mr-point-4 {
  margin-right: 0.4rem;
}
.mb-point-5 {
  margin-bottom: 0.5rem;
}
.mb-point-2 {
  margin-bottom: 0.2rem;
}
.font-bold {
  font-weight: 400;
}
.inline-block {
  display: inline-block;
}
strong {
  font-weight: 500;
}
